@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

*{
  margin: 0;
  border: 0;
  padding: 0;
}

/*/////////////////Header///////////////////////////////////////*/
header{
  background-color: black;
  
  width: 100%;
  height: 45vh;
  
}
.pruebaimg {
  background-image: url('./img/instrumentos\ 1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
width: 100%;
height: 100%;
}
.logo{
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.container-tittle{
  margin-top: 50px;
 
}
.tittle-first h1{
  
  font-family: Marck Script;
  font-style: normal;
  font-weight: normal;
  font-size: 9.5rem;
  line-height: 80px;
  color: #e3e4e5; 
  
  
}
.tittle-second{
 text-align: right;
}
.tittle-second h3{
font-family: Marck Script;
font-style: normal;
font-weight: normal;
font-size: 3rem;
line-height: 40px;
color: goldenrod;

}
#nav-select{
  width: 100%;
  height: 9vh;
  align-items: center;
   justify-content: space-around;
  
  display: inline-flex;
}
#nav-select li {
  font-family: Marck Script;
  
font-style: normal;
font-weight: normal;
font-size: 2.2rem;
line-height: 3vh;
color: white;
list-style: none;
}
#nav-select li a:hover {
color: goldenrod;
}
#nav-select li a {
  text-decoration: none;
  color: white;
}
/*/////////////////seccion 1 interactive///////////////////////////////////////*/
#interactive{
  
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-interactive{
  border: 2px solid black;
  width: 90%;
  height: 75%;
  overflow: hidden;
}
.container-new-product{
  display: flex;
}
.new{
  width: 30%;
background-color: #8b0000;
text-align: center;
}
.new h3{
  font-family: Marck Script;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 50px;
  color: #FFFFFF;
  
}
.product{
  width: 70%;
  background-color: rgb(0, 0,0,0.8);
color:white;
text-align: center;

}
.product h3{
  font-family: Marck Script;
  font-style: normal;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 50px;
  color: #FFFFFF;
  margin-left: 10%;
}
.container-test{
 
  display: flex;
  justify-content: space-between;
 
}
.container-test h4{

width: 20%;
font-family: Marck Script;
font-style: normal;
font-weight: normal;
font-size: 2.8rem;
line-height: 50px;
color: #252850;
margin-left: 8%;

}
#mode{
  width: 50%;
display: flex;
justify-content: space-around;
margin-right: 7%;
}
#mode li{
  
font-size: 1.3rem;
line-height: 50px;
color: #000000;
list-style: none;
cursor: pointer;
}
#mode .li-mod{
  font-family: Marck Script;
font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 50px;
color: #000000;
list-style: none;
}

#gif {
  opacity: 0.9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  
}
/*///piano///*/
.container-piano{
  height: 45%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  
  

}
#set {
  height:10em;
  width:42em;
  position:relative;
  border:1px solid #160801;
  border-radius:1em;
  background:#2c3235;
  text-align: center;
}
#set h2{
  color:white ;
}
li {
top: 0px;
margin:0;
padding:0;
list-style:none;
position:relative;
float:left
}

#set .white {
height:7.9em;
width:3.45em;
z-index:1;
border-left:1px solid #bbb;
border-bottom:1px solid #bbb;
border-radius:0 0 5px 5px;
box-shadow:-1px 0 0 rgba(255,255,255,0.8) inset,0 0 5px #ccc inset,0 0 3px rgba(0,0,0,0.2);
background:linear-gradient(to bottom,#eee 0%,#fff 100%)
}

#set .white:active {
border-top:1px solid #777;
border-left:1px solid #999;
border-bottom:1px solid #999;
box-shadow:2px 0 3px rgba(0,0,0,0.1) inset,-5px 5px 20px rgba(0,0,0,0.2) inset,0 0 3px rgba(0,0,0,0.2);
background:linear-gradient(to bottom,#fff 0%,#e9e9e9 100%)
}

.black {
height:4em;
width:1.1em;
margin:0 0 0 -1em;
z-index:2;
border:1px solid #000;
border-radius:0 0 3px 3px;
box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -5px 2px 3px rgba(0,0,0,0.6) inset,0 2px 4px rgba(0,0,0,0.5);
background:linear-gradient(45deg,#222 0%,#555 100%)
}

.black:active {
box-shadow:-1px -1px 2px rgba(255,255,255,0.2) inset,0 -2px 2px 3px rgba(0,0,0,0.6) inset,0 1px 2px rgba(0,0,0,0.5);
background:linear-gradient(to right,#444 0%,#222 100%)
}

.a,.g,.f,.d,.c {
margin:0 0 0 -1em
}

#set li:first-child {
border-radius:5px 0 5px 5px
}

#set li:last-child {
border-radius:0 5px 5px 5px
}

/*/// fin de piano///*/
            
/*/////////////Sub-titulos top ///////////////////////////////////////*/

#sub-tittles{
  background-color: #8b0000;
  width: 100%;
  height: 12.8vh;
  
  
}
#sub-tittles h5{

font-family: Marck Script;
font-style: normal;
font-weight: normal;
font-size: 2.5rem;
line-height: 12.8vh;
color: #FFFFFF;
margin-left: 3%;


}
/*///////////// top products ///////////////////////////////////////*/
#top-products{
  width: 100%;
  height: 87.2vh;
 
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-slider{
  border : 2px solid black;
  width: 70%;
  height: 80%;
  overflow: hidden;
}
#slider-ul{
  background-color: aqua;
display: flex;
width: 300%;
height: 100%;
animation: move 10s infinite alternate;
}
.container-slider ul li{
  width: 100%;
  height: 100%;
  list-style: none;
}
.container-slider ul li img{
width: 100%;
height: 100%;
}

@keyframes move {

  0% {margin-left: 0;}
  33% {margin-left: 0;}

  40% {margin-left: -100%;}
  77% {margin-left: -100%;}

  84% {margin-left: -200%;}
  100% {margin-left: -200%;}
}
/*///////////// intruments///////////////////////////////////////*/
#instruments{
  width: 100%;
  height: 110vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-big-instruments{
   
  width: 96%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
.separate-colums{
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 100%;
}

.separete-instruments{
 
  width: 49%;
  height: 100%;
}
.container-small-instruments{
  
  border: 1px solid black;
  width: 100%;
  margin-bottom: 10%;
  height: 45%;

}
.tittle-instrument{
  background-color: rgb(0, 0,0,0.8);
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tittle-instrument h3{
  font-family: Marck Script;
font-style: normal;
font-weight: normal;
font-size: 2rem;
line-height: 12.8vh;
color: #e3e4e5;

}
.instrument-img {
  width: 100%;
  height: 65%;
  
  overflow: hidden;
}
.instrument-img img{
  width: 100%;
  height: 100%;
}
.amazoni{
  
  width: 100%;
  height: 15%;
}
.amazoni img{
  
  width: 100%;
  height: 100%;
}
/*///////////// servicess///////////////////////////////////////*/
#services{
width: 100%;
height: 93vh;
display:flex;
justify-content: space-around;
}
.separate-service{
  
  display: flex;
  justify-content: space-around;
  width: 67%;
  
}
.separate-service2{
  
  display: flex;
  justify-content: space-around;
  width: 33%;
}
.service1,.service2{
margin-top: 30px;
width: 40%;
height: 80%;
display: flex;
align-items: center;
flex-direction: column;
border: 2px solid #252850;

}
.service3{
  margin-top: 30px;
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 2px solid #252850;
  

}
.service1 h4,.service2 h4,.service3 h4{
  font-family: Marck Script;
  font-style: normal;
  font-weight: normal;
  margin-top: 25px;
  font-size: 2.8rem;
  
  
  color: #000000;
}
.service1-1,.service2-1 ,.service3-1 {
  
  width: 80%;
  height: 160px;
  margin-top:15px;
  border: 1px solid #8b0000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service1 p,.service2 p ,.service3 p {
  
  margin-top: 40px;
  width: 90%;
  height: auto;
  margin-bottom: 10px;

}
/*///////////// payment methods///////////////////////////////////////*/
.payment-methods{
  background-color: #8b0000;
  width: 100%;
  height: 40.2vh;
  
}

.tittle-payment h2{
font-family: Marck Script;
font-style: normal;
font-weight: normal;
font-size: 2.5rem;
line-height: 50px;
color: #FFFFFF;
margin-left: 3%;

 }
.methods{

width: 100%;
height: 30vh;
display: flex;

}
.cards{
  width:40%;

margin-left: 10%;
display: flex;
align-items: center;
flex-direction: column;
}
.cards h3{
  font-family: Marck Script;
font-style: normal;
font-weight: normal;
font-size: 2rem;
line-height: 75px;
color: #FFFFFF;
}
.icons-cards{
  
 width:60%;
 height: 50%;
}
.container-icons,.container-icons2{

width: 100%;
height: 50%;
display: flex;
margin-bottom: 3px;

}

.c-card{
  width: 50%;
  display: flex;
  justify-content: center;
}

.cash{
width:40%;

display: flex;
align-items: flex-start;
flex-direction: column;
text-align: center;

}
.cash h3{
  font-family: Marck Script;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 75px;
  color: #FFFFFF;
  
  width: 47%;
  
  
}
.container-icons3{
  
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  flex-direction: row;
  
}
.c-cash1{
  
  width: 100%;
  height: 50%;
  margin-right: 8%;
  
  
}
.c-cash1 img{
  width: 100%;
  height: 100%;
  
}
/*///////////////////////marcas////////////////////*/
#marcas{
 
  width: 100%;
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tittle-marcas{
  
  
  margin-top: 30px;
  margin-bottom: 20px;
}
.tittle-marcas h1{
font-family: Marck Script;
font-style: normal;
font-weight: normal;
font-size: 5vmax;
line-height: 100px;
color: #000000;
}

.separete{
  
  width: 70%;
  height: 70%;
}
.marcas1{
  
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.container-logo{
 
  width: 50%;
  height: 100%;
}
.container-logo img{
  
  width: 80%;
  height: 80%;
}
/*///////////////////////footer////////////////////*/
footer{
  background-color: black;
  background-image: url('./img/TX7554\ 1.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 38.4vh;
}
.separate-footer{
  
  height: 80%;
  display: flex;
  align-items: center;
}

.container-logo-footer{
  margin-left: 5%;
  height: 80%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contacts{
 
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.tittle1-footer h2{
  font-family: Marck Script;
  font-style: normal;
  font-weight: normal;
  font-size: 5rem;
  line-height: 40px;
  
  color: #e3e4e5;
}

.tittle2-footer{
 
 width: 100%;
 display: flex;
 justify-content: flex-end;
}
.tittle2-footer h3{
  font-family: Marck Script;
font-style: normal;
font-weight: normal;
font-size: 1.8rem;
line-height: 20px;
color: goldenrod;
}

.whatsapp{
  width: 100%;
  display:flex;
  
  margin-left: 25%;
}
.email{
  width: 100%;
  display: flex;
  font-size: 40px;
  margin-left: 25%;
}
.email i,.whatsapp i{
 color: #e3e4e5;
  margin-right: 4%;
  font-size: 40px;
}
.email p,.whatsapp p{
  color: goldenrod;
  font-size: 2.5vmax;
   
 }
.designed{
 
  height: 20%;
  display: flex;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
  
}
.container-logo-sebastian{

width: 7%;
height: 70%;
margin-right: 3%;

}
.container-logo-sebastian img{
  
  width: 100%;
  height: 100%;
  }

.name-designed{
  
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 50px;

  color: #FFFFFF;
}

/*/////////////primer media query////*/

@media(max-width:766px){

  
    /*/////////////Header////*/
    header{
      height: 35vh;
    }
    .tittle-first h1{
      font-size: 8rem;
      line-height: 60px;
    }
    
    .tittle-second h3{
    font-size: 2rem;
    line-height: 30px;
    }
    #nav-select li{
    font-size: 1.8rem;
    }
    /*/////////////interactive////*/
  #interactive{
  height: 80vh;
  }
        
  .new h3{
  font-size: 4vmax;
  }
        
  .product h3{
  font-size: 1.8rem;
  }
  .container-test h4{
      
  font-size: 2.3rem;
  }
  #mode{
  width: 70%;
  margin-right: 0;
  }
  #mode li{
  font-size: 1rem;
  }
  #mode .li-mod{
  font-size: 1.5rem;
  }
  .container-interactive{
  border: 2px solid black;
  width: 90%;
  height: 80%;
  overflow: hidden;
  }


  /*////////////piano//////////////*/
  #set {
    height:11em;
    width:20em;
    position:relative;
    border:1px solid #160801;
    border-radius:1em;
    background:#2c3235;
    text-align: center;
  }
  #set h2{
    color:white ;
  }
 
  
  #set .white {
  height:7.9em;
  width:3.45em;
 
  }
  .black {
  height:3em;
  width:0.9em;
  
  }
  
  /*/////////fin de piano////////*/

  /*/////////////Sub-titulos top ///////////////////////////////////////*/

    #sub-tittles{
      height: 8.8vh;
    }
    #sub-tittles h5{
    line-height: 8.8vh;
    }

    /*///////////// top products ///////////////////////////////////////*/

    #top-products{
      height: 67.2vh;
    }

/*///////////// intruments///////////////////////////////////////*/
#instruments{
  height: auto;
  }
  .container-big-instruments{
    height: 90%;
    flex-direction: column;
    margin-top: 20px;
  }
  .separate-colums{
   display: flex;
   align-items: center;
   justify-content: space-around;
    width: 100%;
    height: 100%;
  }
  .separete-instruments{
    width: 45%;
    height: 100%;
  }
  .container-small-instruments{
    border: 1px solid black;
    width: 100%;
    margin-bottom: 5%;
    height: 300px;
  }
  .tittle-instrument{
    height: 20%;
  }
  .tittle-instrument h3{ 
  font-size: 1.7rem;
  line-height: 5.8vh;
  }
  .instrument-img {
    width: 100%;
    height: 65%;
    overflow: hidden;
  }
 /*///////////// servicess///////////////////////////////////////*/
#services{
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .separate-service{
    width: 90%;
  }
  .service1,.service2{
  width: 45%;
  height: 480px;
  }
  .separate-service2{
    width: 50%;
  }
  .service3{
    width: 90%;
    height: 480px;
    margin-bottom: 20px;
    }
  .service1 h4,.service2 h4,.service3 h4{
    font-size: 2.8rem;
    line-height: 40px;
  }
  
   /*///////////// payment methods///////////////////////////////////////*/
.payment-methods{
  height: 30.2vh;
}
.tittle-payment h2{
font-size: 2rem;
line-height: 40px;
 }
.methods{
height: 20vh;
}
.cards h3{
font-size: 1.7rem;
line-height: 55px;
}
.cash h3{
  font-size: 1.7rem;
  line-height: 55px;
}

  /*///////////////////////marcas////////////////////*/
 .tittle-marcas h1{
 font-size: 4.7vmax;
 }
 
 /*///////////////////////footer////////////////////*/
 .email p,.whatsapp p{
   
  font-size: 2.2vmax;
}
}

  /*////////////////segundo MEdia Query///////////*/

@media(max-width:553px){
  /*/////////////Header////*/
  header{
    height: 32vh;
  }
  .tittle-first h1{
    font-size: 5rem;
    line-height: 50px;
  }
  
  .tittle-second h3{
  font-size: 1.3rem;
  line-height: 10px;
  }
  #nav-select li{
  font-size: 1.3rem;
  }

  /*/////////////interactive////*/
#interactive{
  height: 65vh;
    }
    .new{
      height: 40px;
    }
    .new h3{
      font-size: 1.3rem;
    }
    .product{
      height: 40px;
    }
    .product h3{
      font-size: 1.5rem;
    }
    .container-test{
      height: 40px;
    }
    .container-test h4{
      font-size: 1.8rem;
    }
   #mode li{
  font-size: 0.8rem;
   }
  #mode .li-mod{
  font-size: 1.3rem;
  }
  .container-interactive{
    height: 80%;
  }
  /*////////////piano//////////////*/
  #set {
    height:11em;
    width:13em;
    position:relative;
    border:1px solid #160801;
    border-radius:1em;
    background:#2c3235;
    text-align: center;
  }
  #set h2{
    color:white ;
    font-size: 1rem;
  }
 
  
  #set .white {
  height:7.9em;
  width:2.5em;
 
  }
  .black {
  height:2em;
  width:0.5em;
  
  }
  
  /*/////////fin de piano////////*/

  /*/////////////Sub-titulos top ////////////////////////////////////*/
  #sub-tittles{
    height: 8.8vh;
  }
  #sub-tittles h5{
    font-size: 1.6rem;
  line-height: 8.8vh;
  }
  /*///////////// top products ///////////////////////////////////////*/

  #top-products{
    height: 47.2vh;
}

/*//////////// instruments ///////////////////////////////////////*/


  .separate-colums{
    
   flex-direction: column;
  }
  .separete-instruments{
    width: 60%;
  }
  .tittle-instrument h3{
  font-size: 2rem;
  line-height: 5.8vh;
  
  }
  .container-small-instruments{
  
    border: 1px solid black;
    width: 100%;
    margin-bottom: 10%;
    height: 35%;
  
  }

  /*///////////// servicess///////////////////////////////////////*/

 #services{
  display: flex;
  justify-content: center;
  align-items: center;
}
 .separate-service{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 .service1,.service2{
 width: 70%;
 }
 .separate-service2{
   
   width: 90%;
 }
 .service3{
   width: 70%;
   
   }
 .service1 h4,.service2 h4,.service3 h4{
   font-size: 2.2rem;
   line-height: 40px;
 }
 .service1 p,.service2 p ,.service3 p {
 font-size: 1rem;
 }

  /*///////////// payment methods///////////////////////////////////////*/
.payment-methods{
  height: 25.2vh;
}
.tittle-payment h2{
font-size: 1.7rem;
line-height: 30px;
 }
.methods{
height: 20vh;
}
.cards h3{
font-size: 1.4rem;
line-height: 40px;
}
.cash h3{
  font-size: 1.4rem;
  line-height: 55px;
}

  /*///////////////////////marcas////////////////////*/
  #marcas{
    height: auto;
  }
 .tittle-marcas h1{
 display: none;
 }
 .marcas1{
   flex-direction: column;
 }
 .container-logo{
   width: 100%;
   height: 120px;
   display: flex;
   justify-content: center;
 }
 /*///////*foooter///////////*/
.tittle1-footer h2{
  font-size: 3rem;
  line-height: 20px; 
}
.tittle2-footer h3{
font-size: 1.3rem;
line-height: 10px;
}
.whatsapp{
  margin-left: 15%;
}
.email{
  margin-left: 15%;
}
.email i,.whatsapp i{
  font-size: 20px;
}
.email p,.whatsapp p{
  font-size: 0.8rem;
}
.container-logo-sebastian{
width: 12%;
}
.container-logo-sebastian img{
  width: 100%;
  height: 100%;
  }

.name-designed{
  font-size: 1.2rem;
  line-height: 30px;
  color: #FFFFFF;
} 
}


  /*////////////////tercera/MEdia Query///////////*/

@media(max-width:407px){
  /*/////////////Header////*/
  header{
    height: 32vh;
  }
  .tittle-first h1{
    font-size: 5rem;
    line-height: 45px;
  }
  .tittle-second h3{
  font-size: 1.3rem;
  line-height: 10px;
  }
  #nav-select li{
  font-size: 0.9rem;
  }

  /*/////////////interactive////*/
#interactive{
  height: 60vh;
    }
    .new h3{
      font-size: 1rem;
      line-height: 40px;
    }
    .product h3{
      font-size: 1.2rem;
      line-height: 40px;
    }
    .container-test{
      height: 40px;
    }
    .container-test h4{
      font-size: 1.2rem;
    }
   #mode li{
  font-size: 0.6rem;
   }
  #mode .li-mod{
  font-size: 1rem;
  }
/*////////////piano//////////////*/
#set {
  height:11em;
  width:9.8em;
  position:relative;
  border:1px solid #160801;
  border-radius:1em;
  background:#2c3235;
  text-align: center;
}
#set h2{
  color:white ;
  font-size: 0.8rem;
}


#set .white {
height:7.9em;
width:2em;

}
.black {
height:1.6em;
width:0.3em;

}

/*/////////fin de piano////////*/
 /*/////////////Sub-titulos top ///////////////////////////////////////*/

  #sub-tittles{
    height: 7.8vh;
  }
  #sub-tittles h5{
    font-size: 1.5rem;
  line-height: 7.8vh;
  }
  /*///////////// top products ///////////////////////////////////////*/

  #top-products{
    height: 32.2vh;
}

/*///////////// instruments ///////////////////////////////////////*/
.container-small-instruments{
  height: 200px;
  
}
 .tittle-instrument h3{
 font-size:1.5rem;
 line-height: 5.8vh;
 }
 /*///////////// servicess///////////////////////////////////////*/
 .service1 ,.service2 ,.service3 {
  height: 450px;
  width: 100%;
}
 .service1 p,.service2 p,.service3 p{
   font-size: 1rem;
 }
 .service1 h4,.service2 h4,.service3 h4{
  font-size: 1.8rem;
  line-height: 40px;
}

.payment-methods{
  height: 22.2vh;
}
.tittle-payment h2{
font-size: 1.5rem;
line-height: 30px;
 }
.methods{
height: 15vh;
flex-direction: column;
}
.cards h3{ 
font-size: 1.2rem;
line-height: 30px;

}
.cards{
  margin-left: 0;
  width: 100%;
}
.cash{
  width: 100%;
}
.c-card ,.c-cash1{
  background-color: brown;
  display: none;
}
.cash h3{
  font-size: 1.2rem;
  line-height: 40px;
  text-align: end;
  margin-left: 20px;
}
 /*///////////////////////marcas////////////////////*/
 
.container-logo{
 width: 120%;
 height: 120px;
 display: flex;
 justify-content: center;
}

/*///////////////////////footer////////////////////*/

footer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.separate-footer{ 
  height: 80%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tittle1-footer h2{
  font-size: 3rem;
  line-height: 35px; 
}
.tittle2-footer h3{
font-size: 1.2rem;
line-height: 10px;
}
.contacts{
  width: 150%;
  align-items: flex-start;
}
.whatsapp{
 
  width: 100px;
  display: flex;
  align-items: center;
justify-content:flex-start ;
margin-right: 0%;
}
.email{
  display: flex;
  align-items: center;
justify-content: center;
  margin-left: 0%;
}
.email i,.whatsapp i{
  font-size: 20px;
}
.email p,.whatsapp p{
  font-size: 0.8rem;
}
.container-logo-sebastian{
width: 15%;
height: 60%;
}
.container-logo-sebastian img{
  width: 100%;
  height: 100%;
  }
.name-designed{
  font-size: 0.9rem;
  line-height: 30px;
  color: #FFFFFF;
}
}